button:focus,
button:active {
	outline: 0!important;
	box-shadow: none;
}

.btn:focus,
.btn:active {
	outline: 0!important;
	box-shadow: none !important;
}

input:focus {
	outline: 0!important;
}

.btn:focus,
.btn.focus,
.btn:active,
.form-control:focus {
	box-shadow: none!important;
}

.btn:focus,
.btn.focus {
	box-shadow: none;
}

a {
	color: #ab3737;
}

a:hover {
	color: #ea4747;
	text-decoration: none;
}

body {
	background-color: #f2f2f2;
}

.container {
	max-width: 1280px!important;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: Signika;
}

::selection {
	background-color: #ab3737;
	color: #fff;
}

 ::-webkit-scrollbar {
	width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
	background: #fff;
}


/* Handle */

::-webkit-scrollbar-thumb {
	background: #222;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #555;
}


/*revslider*/

#rev_slider_10_1 .uranus.tparrows {
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 0)
}

#rev_slider_10_1 .uranus.tparrows:before {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	font-weight: bold;
	transition: all 0.3s;
	-webkit-transition: all 0.3s
}

#rev_slider_10_1 .uranus.tparrows:hover:before {
	opacity: 0.75
}

.hesperiden.tp-bullets {}

.hesperiden.tp-bullets:before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	background: transparent;
	padding: 10px;
	margin-left: -10px;
	margin-top: -10px;
	box-sizing: content-box;
	border-radius: 8px
}

.hesperiden .tp-bullet {
	width: 12px;
	height: 12px;
	position: absolute;
	background-color: #ab3737;
	background: -ms-linear-gradient(top, rgb(153, 153, 153) 0%, rgb(225, 225, 225) 100%);
	background: linear-gradient(to bottom, rgb(153, 153, 153) 0%, rgb(225, 225, 225) 100%);
	filter: progid:dximagetransform.microsoft.gradient( startcolorstr="rgb(153,153,153)", endcolorstr="rgb(225,225,225)", gradienttype=0);
	border: 3px solid rgb(255, 255, 255);
	border-radius: 50%;
	cursor: pointer;
	box-sizing: content-box;
}

.hesperiden .tp-bullet:hover,
.hesperiden .tp-bullet.selected {
	background-color: #ab3737;
}

#rev_slider_16_1 .uranus.tparrows {
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 0)
}

#rev_slider_16_1 .uranus.tparrows:before {
	width: 50px;
	font-weight: bold;
	height: 50px;
	line-height: 50px;
	font-size: 40px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s
}

#rev_slider_16_1 .uranus.tparrows:hover:before {
	opacity: 0.75
}


/*navbar*/

.logo-navbar {
	width: 140px;
}

.nav-link {
	color: #222;
	font-size: 14px;
	margin-top: -20px;
	padding-bottom: 26px;
	height: 58px;
}

.nav-link:hover {
	color: #222;
}

.nav-item>.active {
	color: #ab3737;
}

.nav-item {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: -40px;
}

.nav-item:hover {
	color: #ab3737;
}

.nav-item2 {
	margin-bottom: 0px;
}

.navbar {
	background-color: #fff;
	padding-bottom: 5px;
	box-shadow: 1px 0 1px;
}

.search-link {
	font-size: 18px!important;
}

@media screen and (max-width: 1024px) {
	.nav-item {
		margin-bottom: 0px;
	}
	.title-news1 {
		margin-top: 10px;
		font-size: 16px;
	}
	.nav-item>.active {
		background-image: none;
	}
	.nav-link:hover {
		background-image: none;
	}
	.sidebar {
		padding-left: 10px;
		padding-right: 10px;
	}
}

#slider-main {
	margin-top: 45px!important;
}

.nav-search {
	margin-top: -15px;
}

.nav-search button {
	color: #222;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

#search-bar {
	position: absolute;
	left: 0;
	margin-top: 103px;
	width: 100%;
	text-align: center;
	background-color: #222;
	padding: 40px;
	-webkit-animation: slide-down .3s ease-out;
	-moz-animation: slide-down .3s ease-out;
}

#search-bar2 {
	position: absolute;
	left: 0;
	margin-top: 95px;
	width: 100%;
	text-align: center;
	background-color: #222;
	padding: 40px;
	-webkit-animation: slide-down .3s ease-out;
	-moz-animation: slide-down .3s ease-out;
}

.input-bar {
	width: 80%;
	height: 50px;
	border-radius: 50px;
	padding: 20px;
	border: none;
}

@-webkit-keyframes slide-down {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-50%);
	}
	80% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes slide-down {
	0% {
		opacity: 0;
		-moz-transform: translateY(-50%);
	}
	80% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

.submit-search {
	right: 150px;
	position: absolute;
	bottom: 50px;
	background-color: #222;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.submit-search2 {
	right: 24%;
	position: absolute;
	bottom: 52px;
	background-color: #222;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.submit-search3 {
	background-color: transparent;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.submit-search i {
	color: #fff;
}

.search-close {
	background-color: transparent;
	color: #fff;
	position: absolute;
	top: 0;
	right: 5px;
	cursor: pointer;
	border: none;
	font-size: 30px;
}

/*section 1*/

#section1 {
	margin-top: 20px;
	margin-bottom: 20px;
}


/*section2*/

#section2 {
	margin-top: 20px;
}

.block-heading {
	background-color: #222;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	/*border-top: 20px solid #f2f2f2;*/
}

.heading-1 {
	color: #fff;
	text-transform: uppercase;
	font-size: 28px;
}

.heading-2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 0px;
}

.img-thumb1 {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.img-thumb2 {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.img-thumb3 {
	width: 80px;
	height: 80px;
	object-fit: cover;
}

.img-thumb4 {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.img-thumb5 {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.img-thumb6 {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.img-thumb7 {
	width: 15%;
	height: auto;
	display: inline-block;
}

.img-thumb8 {
	width: 50px;
	height: 5%;
	display: inline-block;
}

.title-news1 {
	font-weight: bold;
}

.title-news2 {
	font-weight: bold;
	font-size: 14px;
}

.title-news3 {
	font-weight: bold;
	font-size: 30px;
}

.news-link1 {
	color: #000;
}

.news-link1:hover {
	color: #ab3737;
	text-decoration: none;
}

.news-intro1 {
	font-size: 14px;
}

.date1 {
	font-size: 12px;
	display: inline-block;
}

.date2 {
	font-size: 16px;
	display: inline-block;
}

.news-col1 {
	padding: 20px;
	border-bottom: 1px solid #f2f2f2;
}

.news-col2 {
	padding: 20px;
}

.divider-news-col {
	margin: 20px 0 40px 0;
}

.btn-1 {
	background-color: #222;
	padding: 5px 40px 5px 40px;
	color: #fff;
}
.btn-1:hover {
	background-color: #fff;
	padding: 5px 40px 5px 40px;
	color: #222;
}

.block {
	padding: 0px;
	margin-bottom: 20px;
}


/*sidebar*/

.sidebar {
	padding-right: 0px;
}

.sidebar-1 {
	background-color: #fff;
	overflow: scroll;
	overflow-x: hidden;
	height: 180px;
}

.list-side1 p {
	font-size: 12px;
	padding-left: 20px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.list-side1 {
	padding-left: 20px;
	background-color: #222;
	-moz-background-size: 100% 8px;
	/* This get flipped. */
	background-size: 7% 200%;
	/* This get flipped. */
	background-position: 0 0, 0 100%;
	/* The last argument gets flipped. */
	background-repeat: no-repeat;
	padding-top: 5px;
	margin-bottom: 5px;
	box-shadow: 1px 0px 1px;
}


/*ceo message*/

.ceo-msg {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}


.title-ceo {
	margin-bottom: 10px;
}

.owl-one {
	margin-bottom: 40px;
}


/*footer*/

#footer {
	background-color: #222;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
}
.heading-footer {
	color: #fff;
}
.logo-footer {
	width: 250px;
}
.txt-footer {
	color: #fff;
}

.footer-ul {
	list-style: none;
	margin-left: -35px;
}

.footer-li {
	font-size: 16px;
	padding-bottom: 10px;
}

.footer-ul li a {
	color: #fff;
}

.footer-ul li a:hover {
	color: #fff;
	text-decoration: none;
}

.row-footer1 {
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
}

.row-footer2 {
	margin-top: 20px;
}

.socmed-ul {
	list-style: none;
	float: right;
}

.socmed-li {
	display: inline-block;
	padding-left: 30px;
}

.socmed-li a {
	color: #fff;
	font-size: 30px;
}


/*menu*/

.navbar .dropdown-toggle,
.navbar .dropdown-menu a {
	cursor: pointer;
}

@media only screen and (min-width: 767px) {
	.mainmenu .collapse ul li:hover>ul {
		display: block
	}
	.mainmenu .collapse ul ul {
		position: absolute;
		top: 100%;
		left: 0;
		min-width: 250px;
		display: none
	}
	/*******/
	.mainmenu .collapse ul ul li {
		position: relative
	}
	.mainmenu .collapse ul ul li:hover>ul {
		display: block
	}
	.mainmenu .collapse ul ul ul {
		position: absolute;
		top: 0;
		left: 100%;
		min-width: 250px;
		display: none
	}
	/*******/
	.mainmenu .collapse ul ul ul li {
		position: relative
	}
	.mainmenu .collapse ul ul ul li:hover ul {
		display: block
	}
	.mainmenu .collapse ul ul ul ul {
		position: absolute;
		top: 0;
		left: -100%;
		min-width: 250px;
		display: none;
		z-index: 1
	}
}

@media only screen and (max-width: 767px) {
	.navbar-nav .show .dropdown-menu .dropdown-menu>li>a {
		padding: 16px 15px 16px 35px
	}
	.navbar-nav .show .dropdown-menu .dropdown-menu .dropdown-menu>li>a {
		padding: 16px 15px 16px 45px
	}
}

.dropdown-item a {
	font-size: 12px;
}

.dropdown-1 {
	background-color: #222;
	border-bottom-left-radius: 40px;
	padding-bottom: 30px;
}

.dropdown-1 .drop-item1 a {
	color: #fff;
}

.drop-item2 {
	color: #000;
}

.dropdown-1 .drop-item1 a:hover {
	color: #fff;
	text-decoration: none;
}

.dropdown-1 .drop-item2 a:hover {
	color: #fff;
	text-decoration: none;
}

.dropdown-item:hover {
	background-color: #777;
}

.menu2-2 {
	float: right;
}

.menu2-1 {
	float: left;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 5px!important;
	padding-right: 5px!important;
}


/*section-berita-umum*/

#section-berita-umum {
	margin-top: 100px;
}

.block-breadcrumb {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
}

.breadcrumb-a {
	color: #777;
	padding-right: 5px;
	padding-left: 5px;
	text-transform: uppercase;
}

.breadcrumb-a:hover {
	color: #777;
}

.breadcrumb {
	margin-bottom: 0px;
	background-color: transparent;
	color: #b5b5b5;
	padding-left: 0px;
	padding-right: 0px;
}

.breadcrumb .active {
	pointer-events: none;
	color: #777;
	text-decoration: underline;
}

.share1 {
	display: inline-block;
	font-size: 12px;
	padding-left: 20px;
}

.share2 {
	display: inline-block;
	font-size: 14px;
	padding-left: 20px;
}

.view1 {
	display: inline-block;
	font-size: 12px;
	padding-left: 20px;
}

.view2 {
	display: inline-block;
	font-size: 14px;
	padding-left: 20px;
}

.popular-ol {
	display: block;
	font-size: 14px;
	list-style: none;
	overflow: hidden;
	counter-reset: numList;
	font-weight: bold;
}

.popular-li:before {
	counter-increment: numList;
	content: counter(numList);
	float: left;
	position: absolute;
	left: -28px;
	text-align: center;
	color: #000;
	width: 25px;
	height: 25px;
	border: 2px solid #000;
	-moz-border-radius: 999px;
	border-radius: 999px
}

.popular-li {
	position: relative
}

.pagination-mankind {
	display: inline-flex;
}

.pagination-mankind .active {
	background-color: #222;
	color: #fff!important;
}

.prev-pag {
	background-color: #222;
	color: #fff!important;
}

.prev-pag:hover {
	background-color: #222;
	color: #fff!important;
}

.page-link {
	color: #222;
}

.page-link:hover {
	color: #fff;
	background-color: #222;
}


/*page artikel*/

.col-artikel-1 {
	margin-bottom: 20px;
}

.photo-source {
	font-style: italic;
	color: #555;
	float: right;
}

.author {
	font-weight: bold;
}

.tag {
	margin-top: 20px;
}

.tag-ul {
	list-style: none;
	margin-left: -20px;
}

.tag-li {
	display: inline-block;
	background-color: #222;
	border-radius: 10px;
	color: #fff;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 10px;
}

.share-ul {
	list-style: none;
	margin-left: -20px;
}

.share-li {
	display: inline-block;
	background: #222;
	margin-right: 10px;
}

.share-li i {
	color: #fff;
	font-size: 20px;
}

.circle-li {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	text-align: center;
	vertical-align: middle;
	padding: 13px;
}

.share-ul p {
	color: #222;
}

.search-bar-cof {
	padding-right: 20px;
	padding-left: 20px;
}

.search-cof {
	border-radius: 25px;
	border: 1px solid #b5b5b5;
}

.submit-search2 {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.dropdown-event {
	padding-bottom: 20px;
}

.dropdown-btn-event {
	background-color: #fff;
	border: 1px solid #b5b5b5;
	color: #483070;
}

.dropdown-btn-event:hover {
	background-color: #483070;
	border: 1px solid #b5b5b5;
	color: #fff;
}

.row-event-detail {
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.owl-prev {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 30%;
	margin-left: 50px!important;
	display: block!important;
	border: 0px solid black;
}

.owl-next {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 30%;
	right: 50px!important;
	display: block!important;
	border: 0px solid black;
}

.owl-prev span {
	font-size: 50px;
	font-weight: bold;
	color: #664989;
}

.owl-next span {
	font-size: 50px;
	font-weight: bold;
	color: #664989;
}

.owl-prev {
	background-color: transparent!important;
}

.owl-prev:focus {
	background-color: transparent!important;
}

.owl-next {
	background-color: transparent!important;
}

.owl-next:focus {
	background-color: transparent!important;
}


/*search result*/

#search-cat {
	background-color: #222;
	color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	-webkit-animation: .3s ease-out;
	-moz-animation: .3s ease-out;
}

.filter-ul {
	list-style: none;
	margin-left: -40px;
	margin-right: 0px;
	display: inline-block;
	font-size: 14px;
	padding-right: 10px;
	vertical-align: top;
	margin-bottom: 0px;
}

.filter-ul li {
	padding-bottom: 10px;
	padding-top: 20px;
}

.filter-ul2 {
	list-style: none;
	margin-left: -40px;
	margin-right: 0px;
	font-size: 14px;
	padding-right: 10px;
	vertical-align: top;
	margin-bottom: 0px;
}

.filter-ul2 li {
	padding-bottom: 10px;
	padding-top: 20px;
	display: inline-block;
}

.submit-filter {
	background-color: #fff;
	color: #483070;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}

.filter-col {
	margin-top: 20px;
	margin-bottom: 20px;
}

.row-search-heading {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 20px;
	padding-top: 20px;
}

.btn-filter {
	background-color: #483070;
	color: #fff;
	border-radius: 20px;
	font-weight: bold;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	cursor: pointer;
	border: none;
	float: right;
}


.filter3-head {
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
}

.filter-ul3 {
	list-style: none;
	margin-left: -20px;
	margin-right: 0px;
	font-size: 16px;
	padding-right: 10px;
	vertical-align: top;
	margin-bottom: 10px;
	margin-top: 20px;
}

.filter-ul3 li {
	padding-bottom: 5px;
}

.submit-li2 {
	margin-left: 20px;
}

.submit-filter2 {
	background-color: #483070;
	color: #fff;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
}

#back-top {
	position: fixed;
	bottom: 16px;
	right: 25px;
	padding: 20px;
	margin: 0;
	z-index: 20;
	visibility: hidden;
}

#back-top a {
	text-decoration: none;
	display: block;
	color: #ab3737;
	font-size: 50px;
	z-index: 999;
	padding: 5px;
	height: 37px;
	width: 37px;
	border-radius: 50%;
}

#back-top a:hover {
	color: #ab3737;
}

@media only screen and (min-width:990px) and (max-width:1300px) {
	.nav-link {
		color: #222;
		font-size: 12px;
		margin-top: -20px;
		padding-bottom: 26px;
		height: 58px;
	}
	.btn-language {
		background-color: #fff!important;
		color: #000!important;
		margin-top: -25px;
		font-size: 12px;
	}
	.search-link {
		font-size: 12px;
	}
	.nav-search {
		margin-top: -15px;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-left: 2px!important;
		padding-right: 2px!important;
	}
	.logo-navbar {
		width: 140px;
	}
	.dropdown-item a {
		font-size: 10px;
	}
}

@media screen and (max-width: 990px) {
	.navbar {
		height: auto!important;
	}
	.dropdown-1 {
		margin-bottom: 20px;
		margin-top: -30px;
		padding: 0px;
		border-radius: 0px;
	}
	#mainNav {
		display: none!important;
	}
	.dropdown-menu a {
		font-size: 12px;
	}
	.sidemenu {
		width: 100%;
		height: 50px;
		top: auto;
		right: 0;
	}
}

#mainNav2 {
	display: none;
}

.img-icon-mobile1 {
	width: 50%;
}

.block-mobile1 {
	width: 50%;
}

.txt-mobile1 {
	font-size: 12px;
	color: #fff;
	margin-bottom: 0px;
	margin-top: 10px;
}

.title-mobile {
	margin-bottom: -20px;
}


@media screen and (max-width: 1024px) {
	.socmed-li {
		padding-left: 20px!important;
		padding-right: 20px!important;
	}
	.socmed-ul {
		float: none!important;
		padding: 0px!important;
	}
	.socmed-col {
		text-align: center;
	}
	.panel-mobile {
		text-align: center;
		margin: 0 auto;
		width: 95%;
	}
	.logo-navbar {
		width: 140px;
		margin-left: -20px;
	}

	.footer-content {
		/*padding-bottom: calc(1.5em + 100px) !important;*/
	}

	#back-top {
		display: none!important;
	}
	.sidebar {
		padding-right: 10px;
	}
	.col-sm-1 {
		width: 25%;
		left: 0;
	}
	#slider-main {
		margin-top: 85px!important;
	}
}

.mobile-menu-heading {
	font-weight: bold;
	font-size: 26px;
	color: #ab3737;
	margin-bottom: 20px;
	margin-top: 40px;
}

.mobile_menu li .active {
	color: #ab3737!important;
}

.mobile_menu {
	margin-top: 100px;
	margin-left: -20px;
}

.next1 {
	margin-bottom: 20px;
}

.btn-submit {
	width: 80%;
	border-radius: 10px;
	border:1px solid #222;
	cursor: pointer;
}
.submit-filter-col {
	margin-bottom: 20px;
}

.btn-form {
	border:none;
	cursor: pointer;
	border-radius: 5px;
}
.select-wilayah {
	margin-bottom: 20px;
}
select{
    padding: 5px;
    border-radius: 10px;
    background-color: #222;
    color:#fff;
}
option:not(:checked) { 
    background-color: #222;
    color:#fff;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.dropdown-2 {
	background-color: #fff;
}
.drop-item2 a {
	color: #000;
}
section {
	max-width: 1920px!important;
	margin: 0 auto;
}
.card {
	border:none;
}
.sidebar-2 {
	margin-bottom: 20px;
}
.img-empty {
	margin-bottom: 20px;
	padding: 10px;
}

@media screen and (max-width: 1024px) {
	.pdf-desktop {
		display: none;
	}
	.pdf-mobile {
		display: block!important;
	}
	p img {
		width: 100%!important;
		height: 100%!important;
	}
	.sideblock1-mobile {
		width: 30%;
	}
	.sideblock2-mobile {
		width: 70%;
	}
	.footer-block1 {
		margin-bottom: 20px;
	}
}
.pdf-mobile {
	display: none;
}

.owl-three {
	margin-bottom: 20px;
	min-height: 200px;
}
.panel-body {
	margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
	.heading-flag {
		max-width: 700px;
	}
}
.col-sm-1 {
	padding: 5px;
}

.pidato-title {
	max-height: 50px;
	overflow: hidden;
}
.col-divider {
	margin-bottom: 20px;
	background-color: #fff;
	padding-bottom: 20px;
}
.select-category {
	margin-bottom: 20px;
}
.error-title {
	font-size: 80px;
}
.error-div2 {
	margin-top: 20px;
}
#section-error {
	position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 33%;
}